.git
.github
.turbo
.sst
.DS_Store

node_modules
**/node_modules

dist
**/dist
**/.artifacts
**/coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

docker-compose*.yml
